services:
  app:
    build:
      context: .
      target: dev
    ports:
      - '3000:3000'
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://${DB_USER}:${DB_PASSWORD}@pg:5432/${DB_NAME}
      REDIS_URL: redis://redis:6379/0
      REDIS_HOST: redis
    depends_on:
      - pg
      - redis
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - node_modules
            - dist
            - .git
        - action: rebuild
          path: package.json
        - action: rebuild
          path: pnpm-lock.yaml

  pg:
    image: pgvector/pgvector:pg16
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

  prometheus:
    image: prom/prometheus
    ports:
      - '9090:9090'

  grafana:
    image: grafana/grafana
    ports:
      - '3001:3000'

volumes:
  postgres_data:
  redis_data:
